global
  log stdout format raw local0

defaults
  mode tcp
  log global
  option tcplog
  timeout connect 5s
  timeout client 90s
  timeout server 90s

frontend egress_proxy
  bind :3128
  default_backend squid_proxies

backend squid_proxies
  mode tcp
  balance first
  retries 2
  option redispatch

  option httpchk
  http-check send meth CONNECT uri api.openai.com:443 ver HTTP/1.1 hdr Host api.openai.com:443
  http-check expect status 200

  default-server inter 10s fastinter 3s downinter 10s fall 2 rise 2
  server squid_primary 185.246.223.241:3128 check
  server squid_backup 31.77.199.215:3128 check backup

frontend stats
  mode http
  bind :8404
  http-request use-service prometheus-exporter if { path /metrics }
  stats enable
  stats uri /stats
  stats refresh 10s
