{
	# Optional: set an email for ACME notifications.
	# email ops@anytoolai.store
}

api.anytoolai.store {
	encode zstd gzip
	request_body {
		max_size 1MB
	}

	reverse_proxy api:8000

	log {
		output stdout
		format console
	}
}
